body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1F2937;
}

.header {
    width: 70%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;

    background-color: #1F2937;
    color: #F9FAF8;
}

.header.header-logo {
    font-size:24px;
}

.header-options {
    display: flex;
    gap: 20px;
}