/* BODY */
body {
    margin: 0;
    padding: 0;
}

/* HEADER */
#header {
    width: 50%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;

    background-color: #1F2937;
    color: #F9FAF8;
}

.header.header-logo {
    font-size: 24px;
}

.header-options {
    display: flex;
    gap: 20px;
}


/* HERO */
.container-header-hero {
    background-color: #1F2937;
}


#hero {
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    font-family: 'Roboto', sans-serif;
}

#hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;

    margin: 0;
}

#button {
    margin-top: 10px;
    padding: 6px 18px 6px 18px;

    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;

    border-radius: 6px;
    border: #3882F6;
}

#hero-button:hover {
    background-color: #2959a7;
    color: #E5E7EB;
}

#hero-placeholder-image {
    width: 800px;
    height: 200px;

    background-color: grey;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
/* MAIN-first */
#container-main-first {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;

    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

#main-first-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#main-cards {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 140px;
    margin: 4px;
}

.main-card p {
    margin: 8px 8px 8px 8px;
    color: #999999;
    font-size: 16px;
}

.main-box {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* MAIN-second */
#container-main-second{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;

    height: 300px;
}

#second-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 60%;
}

#quote {
    font-size: 32px;
    font-style: italic;
    width: 80%;
    margin-bottom: 0;
    color: #1F2937;
}

#author {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#author h4 {
    margin-top: 0;
}